/* Hero.css */

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  max-width: 1200px;
  padding: 0 24px;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.hero-container-left {
  width: 100%;
  line-height: 1.2;
  padding: 5rem 0;
}

.hero-container-left h1 {
  font-family: "serif";
  font-size: 4.8rem;
  color: #353535;
}

.hero-container-left p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #353535;
}

.hero-container-right {
  text-align: center;
  align-items: center;
}

.hero-container-img {
  max-width: 150%;
  height: auto;
  width: 150%;
  display: block;
  margin: 0 auto;
  max-height: 150%;
}

@media screen and (max-width: 768px) {
  .hero-container-img {
    width: auto;
    height: auto;
  }
}
